.search-input {
   font-size: 15px;
   line-height: 24px;
   color: #333;
   width: 100%;
   padding:8px 20px 8px 8px;
   border-radius: 56px;
   border: 1px solid #e5e5e5;
   background:transparent;
   cursor: pointer;
   -webkit-transition: background .3s ease 0s;
   transition: background .3s ease 0s;
}